body{
	background-color: #3c4f6d;
	margin: 0;
}

header{
	height: 10%;
	padding: 1em;
	padding-bottom: 2px;
	background-color: #b99241;
	font-size:1.5em;
	text-align: center;
	border-bottom: #6d5d3c solid 2px ;
	margin-top: 3em;
}


p {
	color: white;
	font-family: Helvetica;
}

#button1 {
	border-radius: 12px;
	width: 5em;
	background-image: linear-gradient(#dadde5 20%,#666970);
	font-size: 1em;
	padding: 0;
}
form { display: inline; }

input {	border-radius: 4px; }

.centre {	text-align: center; }
